@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
@mixin box-sizing($sizing) {
  -moz-box-sizing: $sizing;
  -webkit-box-sizing: $sizing;
  box-sizing: $sizing;
}
@mixin breakpoint($point) {
  @if $point == md-screen {
    @media screen and (min-device-width: 768px) { @content; }
  }
  @else if $point == lg-screen {
    @media screen and (min-width: 980px) { @content; }
  }
}
@mixin flex-menu($display, $webkitDisplay, $position, $justifyContent) {
  display: $webkitDisplay;
  display: $display;
  -webkit-align-items: $position;
  align-items: $position;
  -webkit-justify-content: $justifyContent;
  justify-content: $justifyContent;
  text-align: $position;
}
@mixin flex-item-sizing($width, $height, $margin) {
  width: $width;
  height: $height;
  margin: $margin;
}

$center: 0 auto;

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

body {
  line-height: 1;
  min-width: 20em;
  font-family: 'Open Sans', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,nav,section { 
    display: block;
}

ul {
  list-style-type: none;
  @include flex-menu(flex, -webkit-flex, center, space-around);
  @include breakpoint(lg-screen) { 
    position: relative;
    top: -1em;
    left: -5em;
  }

  &:last-child li { 
    margin-top: -0.50em;
    @include breakpoint(md-screen) { margin-top: -1.75em; }
  }

  li {
    @include flex-item-sizing(2.25em, 2.188em, 1.25em);
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    text-align: center;
    @include breakpoint(md-screen) {
      @include flex-item-sizing(4.25em, 4.188em, 2.938em);
    }
  }
}

#site-wrapper { 
  width: 100%; 
  @include breakpoint(lg-screen) { max-width: 160em; }
}

section {
  width: 18.125em;
  margin: $center;
  padding-top: 7em;
}

header { 
  display: none; 
  @include breakpoint(lg-screen) {
    width: 80%;
    float: right;
    display: block;
  }
}

footer { 
  height: 33.438em;
  @include breakpoint(lg-screen) { display: none; };
}

nav {
  background-image: 
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #eaeaea), color-stop(0.03, #ffffff));
  @include breakpoint(lg-screen) {
    padding-top: 0em;
    box-shadow: -5px 5px 5px #eaeaea;
  }
}

div [role="main"] {
  margin-top: -5em;
  margin-bottom: 3em;
  clear: right;
}

#episode-count {
  text-align: center;
  padding: 0.875em 0em;
  font-size: 0.750em;
  color: #aaaaaa;
}

#show-title {
  text-align: center;
  font-size: 1.375em;
}

.show-selector {
  background-color: #e5e5e5;

  &:hover {
    cursor: pointer;
  }
}

.menu-container { 
  margin: $center;
  width: 70%;
  @include breakpoint(lg-screen) { height: 9.375em; }
}

.active { background-color: #000; }